body{
    background: #2b2b2b;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #395dff;
    border-radius: 2px;
  }


.sent img {
    border-radius: 50%;
    height: 45px;
    margin-top: -20px;
    border: 2px solid salmon;
  }
  
  .recieved img {
    border-radius: 50%;
    height: 45px;
    margin-top: -20px;
    border: 2px solid springgreen;
  }
  
  p {
    font-weight: 500;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    word-break: break-word;
  }
  
  .msg {
    display: flex;
    padding: 20px 10px 0 20px;
    margin: 20px;
    border-radius: 3000px;
    align-items: center;
    width: fit-content;
    max-width: 50vw;
  }
  
  .sent {
    background-color: #008cff;
    color: white;
    border-top-right-radius: 1000px;
    flex-direction: row-reverse;
    padding: 20px 20px 0 10px;
    text-align: end;
    float: right;
    box-shadow: 0 0 10px lightblue;
  }
  
  .recieved {
    background-color: #3f3f40;
    color: white;
    border-top-left-radius: 1000px;
    float: left;
    box-shadow: 0 0 10px lightslategrey;
  }
  
  .sendMsg {
    position: fixed;
    display: flex;
    height: 3vh;
    width: 100%;
    bottom: 0;
    z-index: 1;
    margin-left: -5px;
    padding: 15px;
    padding-bottom: 30px;
    background-color: #2b2b2b;
  }
  
  .sendMsg input {
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    background: #3f3f40;
    box-shadow: 0 0 5px rgb(164, 164, 164);
    color: white;
    padding-left: 10px;
  }
  
  input::placeholder {
    color: rgb(164, 164, 164);
  }
  
  input:focus{
    color: white;
    padding-left: 10px;
  }
  
  
  .sendBtn {
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(164, 164, 164);
    background-color: #395dff;
    color: white;
    margin-left: 10px;
  }
  
  .msgs {
    margin: 110px 0;
    display: flex;
    flex-direction: column;
  }

  .signoutBtn{
    margin: 15px auto;
    display:block;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .signoutBtn:hover{
    background-color: #395dff;
    transform: scale(1.2);
    transition: 0.5s ease;
    color: white;
  }

  .signinBtn{
    margin: 40vh auto;
    text-transform: uppercase;
    font-size: 2vw;
    display:block;
    border: none;
    border-radius: 55px;
    height: 125px;
    width: 500px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .signinBtn:hover{
    background-color: #395dff;
    transform: scale(1.2);
    transition: 0.5s ease;
    color: white;
  }
  